# Переменные окружения (никогда не коммитим секреты!)
.env

# Бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники
*.test

# Выходные файлы
*.out

# Зависимости Go
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db